/* stylelint-disable unit-allowed-list */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: max(80vw, 220px);
  max-width: 600px;
  height: max(84vh, 350px);
  max-height: 700px;
  background-color: #b1a7a6;
  box-shadow: 0 0 7px white;
}

h2 {
  font-size: max(4vw, 30px);
}

.profile-input {
  box-sizing: border-box;
  width: max(45vw, 185px);
  max-width: 500px;
  height: max(5vh, 30px);
  max-height: 60px;
  margin-bottom: 20px;
  padding-left: 7px;
  border: unset;
  border-radius: 5px;
  outline: none;
  font-size: max(1.8vw, 12px);
}

.profile-button {
  width: max(20vw, 150px);
  height: auto;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: whitesmoke;
  outline: none;
  font-weight: 600;
  font-size: max(1.8vw, 10px);
  cursor: pointer;
  transition: 0.5s ease;
}

.profile-button:hover {
  box-shadow: 0px 0px 10px #ffffff;
  transition-duration: 500ms;
  transform: scale(1.1);
}

.profile-button:disabled {
  border: none;
  background-color: #f5f3f4;
  color: #e5383b;
  font-weight: 600;
  opacity: 0.8;
  cursor: default;
}

.profile-button:disabled:hover {
  box-shadow: none;
  transform: scale(1);
}

.init-profile {
  display: flex;
  flex-direction: column;
  gap: max(3vh, 20px);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.profile-form button {
  margin: 5px;
}

.profile-form p {
  margin: 20px;
  font-size: max(1.2vw, 10px);
}