@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Gentium+Book+Plus:ital,wght@0,700;1,400&family=Lobster&family=Pacifico&family=Zilla+Slab&display=swap%27');

fieldset {
  border: 0;
}

.register {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url('../../images/chicken-skewers-background.jpg');
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0.9;
}

.login {
  width: 100vw;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.1)), url('../../images/pizza-background.webp');
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0.9;
}

.register-link {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 5% 5% 0 0;
  top: 0;
  position: fixed;
  align-items: flex-end;
  text-decoration: none;
}

.register-link:hover {
  transition-duration: 500ms;
  text-shadow: 2px 2px 5px #FFFFFF;
}

.register-link h2{
  margin: 2px;
  font-size: max(2vw, 14px);
}

.register-link a{
  font-size: max(2vw, 14px);
}

.login-title {
  -webkit-text-stroke: 1px black;
  text-shadow: 5px 5px 5px #b1a7a6;
  font-family: 'Pacifico', cursive;
  color: #FFFFFF;
  font-size: max(6vw, 40px);
  font-weight: 800;
  margin: 50px 0 80px 0;
  text-align: center;
  width: auto;
}

.login-subtitle-container-container {
  width: 100%;
  height: auto;
  color: #E53831;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.login-subtitle-container {
  width: 35%;
  margin: 5%;
  margin-bottom: 4%;
}

.login-subtitle {
  text-shadow: 0px 0px 5px black;
  color: #E5383B;
  font-size: max(1.7vw, 15px);
  font-weight: 800;
}

.login-register-1 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

.login-register-2 {
  color: #E5383B;
  font-size: 20px;
  font-weight: 800;
}

.login-link {
  color: #E5383B;
  text-shadow: 0 0 5px black;
  font-size: max(2.5vw, 17px);
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 5% 5% 0 0;
  top: 0;
  position: fixed;
  align-items: flex-end;
  font-weight: 800;
  text-decoration: none;

}

.login-link:hover {
  transition-duration: 500ms;
  text-shadow: 2px 2px 5px #FFFFFF;
}

.login-form {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login-input {
  border: unset;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: max(2vw, 14px);
  margin-bottom: 20px;
  outline: none;
  padding-left: 7px;
  height: max(4vw, 40px);
  max-height: 60px;
  max-width: 500px;
  width: 70vw;
}

.login-button {
  padding: 10px;
  font-size: max(2vw, 15px);
  background: #A4161A;
  border-radius: 4px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 32px;
  margin-top: 10px;
  outline: none;
  transition: 0.5s ease;
}

.login-button:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
  box-shadow: 0px 0px 10px #FFFFFF;
}

.login-button:disabled:hover {
  transform: scale(1);
  box-shadow: none;
}

.login-button:disabled {
  background-color: #F5F3F4;
  border: none;
  color: #E5383B;
  font-weight: 600;
  opacity: 0.8;
  cursor: default;
}

.invalid-email {
  margin-top: 0;
  text-shadow: 0 0 4px #E5383B;
  font-weight: bold;
  font-size: max(1.5vw, 12px);
  color: #F5F3F4;
}